footer
  .container.text-center
    p.float-left © 2019 Bucky and Co, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/DeeprajPandey/bucky') GitHub Project
      li.list-inline-item
        a(href='https://github.com/DeeprajPandey/bucky/issues') Issues
