extends layout

block content
  h1 Bucky
  p.lead Extracts meaningful data from running texts in videos.
  hr
  .row
    .col-md-6
      h2 Motivation behind the Project
      p The internet is filled with educational videos where the instructors code on screen. These videos are often out of reach for visually impaired people and we wanted to build a text annotator for such videos.
      p
      br
        
    .col-md-6
      h2 Tech Stack
      p Google Cloud Video Intelligence, Cloud Storage, NodeJS, Express, Bootstrap.
      p
      br
        
    .col-md-6
      h2 Known Issues
      p The crux of our work is based on the Video Intelligence API which, unfortunately, is still in Beta. This causes a few glitches every now and then and the results might not be accurate on every run. Also because of the way the data is presented, it is considerably harder to keep track of changes in blocks of code which was our original idea. However, we are sure that when the API moves out of beta, subsequently, our project will become more accurate.
      p
      br
        
    .col-md-6
      h2 Learning Outcomes
      p Every member took up some responsibility outside of their comfort zone and picked up a new skill over the course of the last 3 days. And as with all hackathons, collaboration was again a key take-away, and because of the diverse team structures, the avenues of learning were considerably wider this time.
      p
      br
        